$primary-color: #cfcfcf;
$border-color-v1: #ddd;
$border-color-v2:#ebeaea;
$primary-white:#ffffff;
$weekend-color: #f7f9fa;
$table-background-hover-color: #f7f9fa;
$sidebar-timeslot-bg-color:#f7f9fa;
$primary-box-shadow: 0px 0px 1px 0px #000000;
$primary-red-color: #aa1e1e;
$primary-orange-color:#ff976e;

$color-gray-01: #0e0e0e;
$color-gray-02: #2b2b2b;
$color-gray-03: #4e4e4e;
$color-gray-04: #999999;


// UI
$padding-section-content:0 5%;